*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 background-color: rgba(167, 164, 164, 0.301); 
}

#nav .nav-icon{
 position: absolute;
 right: 0;
 visibility: hidden;
 font-size: 40px;
}

#nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    margin-left: 30px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 19px;
}

nav ul li a:hover{
    text-decoration: underline;
}
.nav-logo {
    text-decoration: none;
    font-size: 19px;
    background: transparent;
    backdrop-filter: blur(1px);
    padding: 15px;
    border-radius: 20px;
    color: red;
    box-shadow: 0 0 5px rgb(247, 105, 231);
}
.active {
    background-color: rgba(238, 162, 248, 0.306);
    padding: 15px;
    border-radius: 20px;
    color: red;
    box-shadow: 0 0 5px violet;
}
.hero-section {
    display: flex;
    column-gap: 310px;
    padding: 20px;
    align-items: center;
    
}
.hero-right img  {
    /* display: flex; */
    width: 600px;
    margin: 3px;
    padding: 5px;
    border-radius: 30px;
   background-color: rgb(249, 158, 225);
   box-shadow: 0 0 5px blueviolet;

    
}
.hero-img  {
    display: flex;
   margin: 0 auto; 
}

.hero-img img  {
    width: 300px;

}

.hero-left {
    padding-left: 50px;
}
.hero-left h1 {
    padding-bottom: 20px;
    line-height: 23px;
}

.hero-left p {
    padding-bottom: 20px;
    line-height: 20px;
    word-spacing: 6px;
    font-size: 20px;
}
.hero-btn {
    display: flex;
    column-gap:   20px;
}
.btn1 , .btn2 {
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
    
}
.btn2 {
    background: none;
    
    color: brown;
    box-shadow: 0 0 9px rgb(226, 43, 83);
}
.contact-page {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 150px;
    margin: 30px;
    
    
}
.time , .location , .phone {
    padding: 20px;
    align-content: center;
    border-radius: 20px;
    color: brown;
    box-shadow: 0 0 5px blueviolet;

}
.spicify-contact{
    display: flex;
    gap: 40px;
}
.icon1 , .icon2 , .icon3 {
    font-size: 50px;
    text-align: center;~
}
.time p , .location p , .phone p {
    padding: 10px;
    text-align: center;
}
.time h2 , .location h2 , .phone h2 {
    text-align: center;
}
.booking-section {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding-top: 200px;
}
.common-tools {
    display: flex;
    gap: 30px;
    
}
.my-image img , .my-image1 img {
    width: 150px;
    height: 130px;
    border-radius: 20px;
    box-shadow: 0 0 5px blueviolet;
    margin: -90px 0 0 40px;

}



.explain-tools , .explain-tools1 {
    background:rgb(247, 196, 196);
    border-radius: 20px;
    box-shadow: 0 0 5px blueviolet;
    padding: 10px;
    
}
.set-body , .set-body1 {
    padding: 10px;
    margin-top: 30px;
}
.explain-tools p , .explain-tools1 p {
    font-size: 20px;
}
.book-appointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.book-appointment h2 {
    font-size: 35px;
}
.book-appointment p {
    line-height: 23px;
    font-style: normal;
    font-size: larger;
}
.book-appointment a {
    background: brown;
    color: white;
    padding: 15px;
    width: 160px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    
}
.main-make-upstyles{
    display: flex;
    flex-direction: column; 
   
    width: 90%;
    margin: 100px;
    /* padding: 100px; */
    gap: 20px;
   
}
/* .h22 {
    display: flex;
    padding-right: 870px;
    margin: 10px;
} */
.make-style {
    display: flex;
    gap: 20px;
    align-items: center;
    
    
}
.Eyelash , .brush , .tweezers {
    display: flex;
    background: rgb(250, 166, 166);
    padding: 10px;
    border-radius: 10px;    
    width: 20rem;
    gap: 20px;
    box-shadow: 0 0 5px blueviolet;
}
.eyeandbrush {
    display: flex;
    gap: 20px;
}
.Eyelash .img1 , .brush .img1 , .tweezers .img1 {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 5px blueviolet;
}
.details {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.staa {
    width: 100px;
    
}

@media only screen and (max-width: 760px){
    #nav .nav-icon{
        display: inline-block;
     }
     ul {
        background: #f3f3f3;
        padding: 15px;
        display: flex;
        /* visibility: hidden; */
        flex-direction: column;
        width: 180%;
    }
    ul li {
        margin: 8px;
    }
    ul li a {
        font-size: 3px;
    }

    #nav{
        display: flex;
        flex-direction: column;
    }
    .nav-logo{
        background: none;
        border: 3px solid brown;
        font-size: 30px;
        width: 240px;
        color: brown;
        
    }
    .hero-section {
        flex-direction: column-reverse;
    }
.hero-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .hero-right img{
    
        width: 100%;
        margin: 0 auto;
    }
.hero-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    padding: 15px;
    width: 180px;
}
.hero-left {
    padding: 30px;
}
.hero-left p {
    line-height: 30px;
    font-size: 25px;
}
.hero-left h1 {
    line-height: 30px;
}
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* justify-content: center; */
   
    }
    .time p , .location p , .phone p{
        font-size: 18px;
    }
    .phone {
      padding: 20px;
      width: 200px;
      
      gap: 20px;
    }
    .spicify-contact{
        display: flex;
        gap: 15px;
     }
     .booking-section {
        display: flex;
        flex-direction: column;
        margin: 20px;
       
     }
     .common-tools {
        display: flex;
        gap: 10px;
        
    }
    .explain-tools p , .explain-tools1 p{
        font-size: 18px;
      
    }
    .my-image img , .my-image1 img {
        width: 120px;
        margin: -90px 0 0 10px;
    }
    .Eyelash , .brush , .tweezers {
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 220px;
        padding: 5px;
        align-items: center;
    }
    .Eyelash .img1 , .brush .img1 , .tweezers .img1 {
        width: 130px;
        height: 100px;
    }
    .details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 13px;
    }
    .main-make-upstyles{
        display: flex;
        margin: 30px;
        padding-top: 50px;
        
    }
    .eyeandbrush{
        display: flex;
        flex-direction: column;
        gap: 20px;
       
    }
    /* .h22 {
       font-size: 20px;
        padding-right: 280px; */
        
    }
}