*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 background-color: rgba(167, 164, 164, 0.301); 
}




/* #nav .nav-icon{
 position: absolute;
 right: 0;
 visibility: hidden;
 font-size: 40px;
} */
.hamburger{
    display: none;
}

.navbar{
    width: 100%;
    background: rgb(2, 202, 2);
    height: 80px;
    /* align-content: center; */
}

 /* .close, .open{
    display: flex;
    position: absolute;
}
.ul {
    display: flex;
    margin-left: 200px;
} */
#nav {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
nav ul {
    /* margin-left: 38rem; */
    display: flex;
    flex-direction: row;
    /* align-content: center; */
}
nav ul li {
    margin-left: 30px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 19px;
}

nav ul li a:hover{
    /* background-color: red; */
    color: white;
    border-bottom: 2px solid red;
}
.nav-logo {
    text-decoration: none;
    font-size: 19px;
    backdrop-filter: blur(1px);
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    color: red;
    box-shadow: 0 0 5px rgb(247, 105, 231);
}
.active {
    background-color: rgba(238, 162, 248, 0.306);
    padding: 15px;
    border-radius: 20px;
    color: red;
    box-shadow: 0 0 5px violet;
}

.hero-section {
    display: flex;
    column-gap: 310px;
    padding: 20px;
    align-items: center;
    
}
.hero-right img  {
    /* display: flex; */
    width: 600px;
    margin: 3px;
    padding: 5px;
    border-radius: 30px;
   background-color: rgb(249, 158, 225);
   box-shadow: 0 0 5px blueviolet;

    
}
.hero-img  {
    display: flex;
   margin: 0 auto; 
}

.hero-img img  {
    width: 300px;

}

.hero-left {
    padding-left: 50px;
}
.hero-left h1 {
    padding-bottom: 20px;
    line-height: 23px;
}

.hero-left p {
    padding-bottom: 20px;
    line-height: 20px;
    word-spacing: 6px;
    font-size: 20px;
}
.hero-btn {
    display: flex;
    column-gap:   20px;
}
.btn1 , .btn2 {
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
    
}
.btn2 {
    background: none;
    
    color: brown;
    box-shadow: 0 0 9px rgb(226, 43, 83);
}
.contact-page {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 150px;
    margin: 30px;
    
    
}
.time , .location , .phone {
    padding: 20px;
    align-content: center;
    border-radius: 20px;
    color: brown;
    box-shadow: 0 0 5px blueviolet;

}
.spicify-contact{
    display: flex;
    gap: 40px;
}
.icon1 , .icon2 , .icon3 {
    font-size: 50px;
    text-align: center;~
}
.time p , .location p , .phone p {
    padding: 10px;
    text-align: center;
}
.time h2 , .location h2 , .phone h2 {
    text-align: center;
}
.booking-section {
    display: flex;
    gap: 50px;
    padding: 5px;
    /* align-items: center; */
    /* text-align: center; */
    margin: 100px;
    padding-top: 200px;
    /* background: black; */
}
.common-tools {
    display: flex;
    gap: 30px;
    padding: 40px;
    max-width: 40rem;
    margin: 0 auto;
    /* text-align: center; */
   
    /* align-items: center; */
    
}
.my-image img , .my-image1 img {
    display: flex;
    width: 130px;
    height: 130px;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: -100px;
    box-shadow: 0 0 5px blueviolet;
   

}



.explain-tools , .explain-tools1 {
    background:rgb(247, 196, 196);
    border-radius: 20px;
    box-shadow: 0 0 5px blueviolet;
    padding: 10px;
    margin: 5px;
    align-items: center;
}
.set-body , .set-body1 {
    padding: 10px;
    margin-top: 30px;
}
.explain-tools p , .explain-tools1 p {
    font-size: 20px;
}
.book-appointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.book-appointment h2 {
    font-size: 35px;
}
.book-appointment p {
    line-height: 23px;
    font-style: normal;
    font-size: larger;
}
.book-appointment a {
    background: brown;
    color: white;
    padding: 15px;
    width: 160px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    
}
.main-make-upstyles{
   
}
.all-styles {
    display: flex;
    flex-direction: column;
    width: 60rem; 
    margin: 0 auto;
    gap: 20px;
    padding-bottom: 3rem;
}

.make-style {
    display: flex;
    gap: 20px;
    justify-content: center;
    }

.Eyelash , .brush , .tweezers {
    display: flex;
    background: rgb(250, 166, 166);
    padding: 10px;
    border-radius: 10px;    
    width: 20rem;
    gap: 20px;
    box-shadow: 0 0 5px blueviolet;
}
.eyeandbrush {
    display: flex;
    gap: 20px;
}
.Eyelash .img1 , .brush .img1 , .tweezers .img1 {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 5px blueviolet;
}
.details {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.staa {
    width: 100px;
    }
.demo {
    display: flex;
    margin: 0 auto;
    background: rgb(250, 166, 166);
    width: 1100px;
    border-radius: 20px;
    padding: 5px;
   
}
.demodetails {
    display: flex;
    justify-content: center;
    padding: 1px;
    gap: 20px;
    
}

.dem , .dem1 , .trad {
   
    width: 220px;
    margin: 5px;
    
    border-radius: 20px;
    box-shadow: 0 0 5px blueviolet;
} 

.discounts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 10px;
  
} 
.discounts .crossed{
    text-decoration: line-through;
    font-size: 1.3rem;
}
.discounts img {
    width: 150px; 
}
 .discounts a {
    display: flex;
    text-decoration: none;
    background: brown;
    padding: 10px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    width: 180px;
    justify-content: center;
    border-radius: 20px;
} 
.discounts h1 {
    font-size: 30px;
}
.videosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 100px;
}
/* .videosection h1 {
    background: rgb(250, 166, 166);
    width: 600PX;
    color: rgb(0, 3, 2);
    padding: 30PX;
    text-align: center;
} */

.first-vidoe {
     display: flex;
     flex-direction: column;
    margin: 0 auto;
    padding: 40px;
   width: 900px;
   height: 600px;
    margin-top: 140px ;
    gap: 30px;
    margin: 20px;
    border-radius: 20px;
    
     
}
.first-vidoe video {
    display: flex;
   
    border-radius: 20px;
    
} 
.socendvi {
    
    width: 1000px;
    height: 200px; 
}

.our-activities {
    display: flex;
   align-items: center;
  
    margin-top: 700px;
}
.activities-body{
    display: flex;
    gap: 130px;
    margin: 0 auto;
    
}
.events-detailing {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.first-home-service, .second-home-service{
    background: rgb(250, 166, 166);
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0 0 5px blueviolet;
    border-radius: 20px;
}
.first-home-service img, .second-home-service img{
    width: 200px;
    height: 180px;
    border-radius: 20px;
    box-shadow: 0 0 5px blueviolet;
    gap: 20px;
}
.home-page , .home-page1 {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.home-page1  p, .home-page  p {
   /* margin-top: 5px; */
   font-size: large;
}
.home-page1  h2, .home-page  h2 {
    font-size: 30px;
}
.online-booking {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.online-booking h2 {
    font-size: 35px;
}
.online-booking p{
    font-size: large;
}
.online-booking a{
    text-decoration: none;
    font-size: larger;
    background: brown;
    color: white;
    padding: 10px;
    width: 160px;
    text-align: center;
    border-radius: 20px;
}
.quality-of-service{
    display: flex;
    margin-top: 100px;
}
.quality-given{
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
}
.one-activitiy , .two-activity{
    display: flex;
    gap: 20px;
   
}
.activities-here{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.one-activitiy img , .two-activity img{
    display: flex;
    margin-top: 30PX;
    width: 80px;

    height: 80px;
    border-radius: 50px;
}
.presence , .presence1 , .presence2 , .presence3 {
    display: flex; 
   align-items: center;
    flex-direction: column;
    border-radius: 20PX;
    background: rgb(250, 166, 166);
    width: 160px;
    height: 160px;
    box-shadow: 0 0 5PX blueviolet;
}
.discription {
    display: flex;
    flex-direction: column;
    gap: 10PX;
}
.discription h2 {
    font-size: 35PX;
}
.discription P {
    font-size: large;
}
.customer-view {
    display: flex;
    margin: 100px;
}
.customer-view h1 {
    display: flex;
    margin: 0 auto;
    font-size: 50px;
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
}
/* .main-body {
    display: flex;
    flex-direction: column;
} */
.first-people , .second-people {
    display: flex;
    gap: 50px;
    
    
}
.person1 , .person2 , .person3 , .person4 {
    display: flex;
    background: rgb(250, 166, 166);
    padding: 20px;
    gap: 20px;
    margin-top: 20px;
    border-radius: 20px;
}
.image1 img , .image2 img , .image3 img , .image4 img {
    border-radius: 20px;
    width: 130px;
    height: 200px;
    box-shadow: 0 0 5px blueviolet;
}
.cover1 , .cover2 , .cover3 , .cover4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cover1 img , .cover2 img , .cover3 img , .cover4 img {
    width: 100px;
    
}
.cover1 p , .cover2 p , .cover3 p , .cover4 p{
    font-size: large;
}
.news-letter {
    display: flex;
    background: rgb(105, 238, 93);
    width: 70rem;
    margin: 0 auto;
    /* margin: 90px; */
    padding: 50px;
    border-radius: 20px;
}
.body-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    /* background: brown; */
}
.body-form h2 {
    font-size: 30px;
    /* margin-left: -200px; */

}

.detalss {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detalss p{
    font-size: larger;
}
.form-positioning{
    display: flex;
    align-items: center;
    gap: 350px;
    margin: 0 auto;
}
.form1{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 70px;
    background: white;
    border-radius: 10px;
    overflow-x: hidden;
}

.form label  {
}
.form input {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}
.form a{
    background: brown;
    padding: 20px;
    color: white;
    width: 100px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}
.form input:focus{
    /* font-size: 20px; */
    background-color: rgb(209, 243, 232);
   border: none;
    outline: none;
}
@media only screen and (max-width: 570px){

    
.hamburger {
    position: absolute;
    right: 0;
    margin: 20px;
    margin-left: -90px;
    /* display: block; */
   /* display: flex; */
   display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


    /* #nav .nav-icon{
        visibility: visible;
     } */

        
     nav ul {
       position: absolute;
        right: 0;
        visibility: hidden;
        height: 15rem;
        transition: 0.5s;
        padding: 10px;
        margin-top: 450px; 
        justify-content: center;
        display: flex;
        flex-direction: column;
        background: rgba(0,0,0,0.2);
    }
    .active{
        background-color: none;
        border-radius: none;
       
    }
    ul li {
        margin: 10px;
        text-align: center;
    }
    ul li a {
        font-size: 3px;
    }

    
    
    .nav-logo{
        background: none;
        /* margin:auto -6%; */
        border: 1px solid brown;
        font-size: 17px;
        width: 170px;
        color: brown;
        
    }
    .hero-section {
        flex-direction: column-reverse;
        /* margin-top: 350px; */
    }
.hero-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .hero-right img{
    
        width: 100%;
        margin: 0 auto;
    }
.hero-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    padding: 15px;
    width: 180px;
}
.hero-left {
    padding: 30px;
}
.hero-left p {
    
    font-size: large;
}
.hero-left h1 {
    font-size: 30px;
    line-height: 30px;
}
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 20px;
    gap: 20px;
    /* justify-content: center; */
   
    }
    .time p , .location p , .phone p{
        font-size: 18px;
    }
    .phone {
      padding: 20px;
      width: 200px;
      
      gap: 20px;
    }
    .spicify-contact{
        display: flex;
        align-content: center;
        gap: 15px;
     }
     .booking-section {
        display: flex; 
        flex-direction: column;
        margin: 15px;
       align-items: center;
       
     }
     .common-tools {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    .explain-tools p , .explain-tools1 p{
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }
    /* {
       display: flex;
       height: 470px;
       flex-direction: column;
    } */
    .explain-tools  h2, .explain-tools1 h2{
        font-size: 15px;
    }
    .book-appointment h2 {
        font-size: 30px;
    }
    .book-appointment p {
        font-size: large;
    }


    .my-image img , .my-image1 img {
        width: 100%;
        height: 120px;
        margin: 0 auto;
        margin-top: -110px;
       object-fit: cover;
        /* margin: -90px 0 0 15px; */
    }
    
    .Eyelash , .brush , .tweezers {
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 190px;
        padding: 2px;
        align-items: center;
    }
    .Eyelash .img1 , .brush .img1 , .tweezers .img1 {
        width: 130px;
        height: 100px;
        object-fit: cover;
    }
    .details {
        display: flex;
        flex-direction: column;
        margin: -15px;
        gap: 5px;
        font-size: 13px;
    }
    .main-make-upstyles{
        display: flex;
        margin: 0 auto;
    }

    .make-style:nth-child(2){
        display: ;
        flex-wrap: wrap;
     }

    .all-styles {
        width: 100%;
        justify-items: center;
        padding-top: 2rem;
    }

    .all-styles .h22{
        margin-left: 2rem;
    }
    .make-style {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        width: 10rem;
        margin: 0 auto;

    }
    .eyeandbrush{
        display: flex;
        flex-direction: column;
        
        gap: 20px;
       
    }
    
    .trad , .dem1 {
        width: 130px;
        height: 260px;
        justify-content: center;
      
        margin: 6px;
    }
    .dem1 {
        width: 170px;
       
    }
    .demoimages {
        
        display: flex;
        
        
        
    }
    .dem {
        display: none;

    }
    
       
    .demo {
        display: flex;
        width: 350px;
        height: 590px;
        
    }
    .discounts {
        display: flex;
    }
    .demodetails {
        display: flex;
        flex-direction: column;
        /* margin: 0 auto; */
        padding: -5px;
    }
    .first-vidoe {
        margin-top: 200px;
       justify-content: center;
        padding: 10px;
        background: none;
      width: 370px;
      height: 250px;
    }
    .our-activities{
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    } 
    .activities-body{
        display: flex;
        flex-direction: column;
        gap: 50px;

    }
    .first-home-service, .second-home-service{
        display: flex;
    }
    .first-home-service img , .second-home-service img{
        width: 120px;
        height: 150px;
        object-fit: cover;

    }
    .home-page1  p, .home-page  p {
        font-size: 15px;
    }
    .home-page1  h2, .home-page  h2{
        font-size: 25px;
    }
    .quality-of-service{
        display: flex;
        flex-direction: column;
     }
     .quality-given{
        display: flex;
        flex-direction: column;
     }
     .discription h2 {
        font-size: 31px;
     }
     .discription p {
        font-size: 20px;
     }
     .customer-view h1{
       font-size: 25px;
     }
     .customer-view {
        display: flex;
        margin: 0 auto;
        margin-top: 100px;
     }
     .feedback {
        display: flex;
        gap: 10px;
        
     }
     .first-people , .second-people{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        
     }
     .person1 , .person2 , .person3 , .person4{
        display: flex;
        padding: 10px;
     }
     .image1 img , .image2 img , .image3 img , .image4 img{
        display: flex;
        width: 130px;
        height: 200px;
        object-fit: cover;

     }
     .cover1  , .cover2  , .cover3  , .cover4 {
        gap: 10px;
     }
     .cover1 p , .cover2 p , .cover3 p , .cover4 p {
        display: flex;
        font-size: 15px
     }


 /* NEWSLETTER SECTION */

     .form-positioning{
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
     }
     .news-letter{
        margin: 0 auto;
        margin-top: 100px;
        padding: 10px;
        width: 22rem;
        
     } 

     .form1{
        height: 50px;
        width: 100%;
     }

     .form{
        width: 100%;
     }

     .detalss h2{
        font-size: 24px;
        
     }
     
     .form-positioning{
        padding: 2px;
     }
     
     .detalss p{
        font-size: large;
     }

}